# Eclipse based IDE's
**/Debug/
**/Release/
**/Backup/
**/*.bak
**/.~lock.*
.settings/

# CubeMX
**/.mxproject

# Intellij Idea, CLion, PyCharm, VS Code
.idea
**/*.code-workspace
*.vc.db
*.vc.db-shm
*.vc.db-wal


# Temporary
tmp/
**/comp/
build/
**/__pycache__/
**/*.drawio.bkp


# Altium Designer
**/History/
**/__Previews/
**/Project Logs*
**/*Status Report*
**/*.PrjPcbStructure
**/*.dat
**/*.rep
**/*.extrep
**/*.ldp
**/*.drc
**/*.dsnwrk
**/*.html
**/*.htm
**/*.step
**/*.rul

# Altium Designer Libraries
**/*.IntLib
**/*.LibPkg
**/*.PcbLib
**/*.SchLib